/* ------------ RESET MEYER ------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family:"Montserrat";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} /* ---------------- END RESET ------------------- */




/* https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin */
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('../fonts/montserrat-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v10-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v10-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}








/* ------------------- STYLES ------------------- */
body{
    width: 100%;
    height: 100%;
}
header {
    background-color: white;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
body>.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    position: relative;
    height: calc(100vh - 110px);
}
img {
    width: auto;
}
img.bg.landscape {
    height: auto;
    min-height:100%;
    min-width: 100%;
    max-width: 160%;
}
img.bg.portrait {
    width: auto;
    min-width:100%;
    min-height: 100%;
    max-height: 160%;
}

h1, h2{
    color:white;
    text-transform:uppercase;
}
.icon, svg{
    transition:1s linear;
    width:30px;
    height:30px;
    fill:white;
    stroke-width: 2px;
}




/* ------------- HEADER -------------- */
header .icon{
    float: right;
    padding: 10px;
    border-left: 1px solid rgba(236, 32, 39, 0.2);
}
 header .icon:hover{
    background-color: rgba(236,32,39,0.2);
}

header .branding{
    height: 30px;
    margin: 10px;
}
#pentax {
    opacity:0;
}


#pentax article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.half{
    transition:1s linear;
    position:relative;
    overflow:hidden;
    width:calc(50% - 2.5px);
}
.third{
    transition:1s linear;
    position:relative;
    overflow:hidden;
    width:calc(33.33% - 2.5px);
}
article.third{
    cursor: pointer;
}

#pentax-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#pentax-nav > div{
   position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
   
    box-shadow: inset 0 -11px 40px rgba(0,0,0,0.05);
}
.gamme-unifocaux#pentax-nav > div{
    height: 45vh;
    max-height: 50vh;
}
#pentax-nav.gamme-progressifs  > div{
    height: 25vh;
    max-height: 50vh;
}
#pentax-nav.third > div{
    height: 30vh;
    max-height: 33.333vh; 
}
#pentax-nav:not(.gamme) > div{
    background-color:#ec2027;
}
#pentax-nav.gamme-progressifs > div {
    background-color:#7a2162;
}
#pentax-nav.gamme .dotted{
    background: radial-gradient(rgba(255, 140, 0, 0.2) 1px, transparent 1px);
    background-size: 7px 7px;
}

#pentax-nav > div{
    margin:0  0  5px 0;
}
#pentax-nav > div:last-of-type{
    margin:0;
}
#pentax-nav ul{
    width: calc(100% - 30px);
    display:none;

}
#pentax-nav ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 24px;
}
.dotted a.thumb-link{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    text-decoration: none;
    background: none;
    text-indent: -9999px;
}
ul h2{
    font-size: 0.7em;
    padding-left: 8px;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#pentax-nav li{
    background-color:#ed2027;
    margin:0 0 1px 0;
}
#pentax-nav li:last-of-type{
    margin:0;
}
#pentax-nav li svg{
        width: 1.5em;
    height: 1.5em;
}
/*#pentax-nav li{
    position: relative;
}
#pentax-nav li a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
}*/



.bg{
    z-index:-2;
}
.bg{
    position: absolute;
    transition:2s linear;
    top: 0;
}
.third:hover .bg{
    transform: scale(1.05);
    filter: grayscale(100%) ;
}
.overlay.top-square{
    top:0;
    left:0;
    width: 40px;
    height: 40px;
    border-top: 10px solid ;
    border-left: 10px solid ;
}
.overlay.bottom-square{
    bottom:0;
    right:0;
    width: 40px;
    height: 40px;
    border-bottom: 10px solid ;
    border-right: 10px solid ;
}
.content{
    width:100%;
    height:100%;
}
.main{
    margin:0 5px;
}








.dotted {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    /*overflow: hidden;*/
}
div.ov-h{
    overflow: hidden;
}
#pentax-nav:not(.gamme) .dotted {
    background: radial-gradient(rgba(255, 140, 0, 0.7) 1px, transparent 1px);
    background-size: 7px 7px;
}
.dotted h1{
    transition:1s linear;
    max-width: calc(100% - 30px);
}
#pentax-nav.gamme h1, #pentax-nav.gamme a.btn{
    margin: 2.5%;
}
a.btn{
    text-decoration: none;
    font-weight: bold;
}
#pentax-nav:not(.gamme) h1{
    position:absolute;
    top: 40%;
}
#pentax-nav:not(.gamme) > div:not(.set-static):hover h1{
    top:15px;
}
.dotted .icon{
    position:absolute;
    bottom: 15%;
}
#pentax-nav:not(.gamme) > div:hover{
    background: #eb2027;
    background: -moz-linear-gradient(top, #eb2027 27%, #eb2027 27%, #913028 100%);
    background: -webkit-linear-gradient(top, #eb2027 27%,#eb2027 27%,#913028 100%);
    background: linear-gradient(to bottom, #eb2027 27%,#eb2027 27%,#913028 100%);
}
#pentax-nav.gamme-progressifs > div:hover {
    background: #eb2027;
    background: -moz-linear-gradient(top, #81215f 0%,#ba2e5d 100%);
    background: -webkit-linear-gradient(top, #81215f 0%,#ba2e5d 100%);
    background: linear-gradient(to bottom, #81215f 0%,#ba2e5d 100%);
}
#pentax-nav.gamme-unifocaux > div{
    background: #04508b;
}
#pentax-nav.gamme-unifocaux > div:hover{
    background: -moz-linear-gradient(top, #04508b 0%,#04508b 60%,rgb(171, 61, 79) 100%);
    background: -webkit-linear-gradient(top, #04508b 0%,#04508b 60%,rgb(171, 61, 79) 100%);
    background: linear-gradient(to bottom, #04508b 0%,#04508b 60%,rgb(171, 61, 79) 100%);
}

/*#pentax-nav .icon.hover-box{
    opacity: 0;
}*/

#pentax-nav > div:hover ul{
    display:block;
}
.dotted ul{
    position:absolute;
    bottom:15px;
}
#pentax-nav > div:hover ul{
    animation: slideUp 1s ;
}@keyframes slideUp {
    from {bottom: -100%;}
    to {bottom:15px;}
}
#pentax-nav > div:not( :hover ) .icon{
    animation: showIcon 1s forwards;
}@keyframes showIcon {
    from {opacity:0;}
    to {opacity:1;}
}
#pentax-nav > div:hover .icon{
    animation: slideLeft 1s forwards;
}@keyframes slideLeft {
    from {opacity:1;}
    to {opacity:0;}
}

#pentax-nav > div:not( :hover ) .icon.hover-box{
    animation: hideHover 1s forwards;
}@keyframes hideHover {
    opacity: 0;
    from {opacity:1;}
    to {opacity:0;}
}
#pentax-nav > div:hover .icon.hover-box{
    animation: showHover 1s forwards;
}@keyframes showHover {
    from {opacity:0;}
    to {opacity:1;}
}







.bottom-content{
    position:absolute;
    z-index: 4;
    bottom:0;
    padding: 15px 0 10% 15px;
}
.bottom-content h1{
    margin: 10% 0 20% 0;
}
.glass{
    width:45px;
}
.shrink-y .bottom-content {
    bottom:initial;
    padding: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bottom-content p{
    margin: 0 0 0 10%;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 0 0 0;
    display: none;
}
.shrink-y .bottom-content p{
    display: block;
}
.shrink-y .bottom-content h1{
    margin: 0 0 0 10%;
}
.shrink-y .bottom-content a.btn{
    display:none;
}
a.btn,
div.btn{
    background-color: #ec2027;
    border-radius: 1px;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 58%;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 3px;
}
#pentax-nav li:hover, a.btn:hover,
.dotted:hover div.btn,
article.third:hover a.btn 
{
    background-color:#bc2328;
    cursor:pointer;
}
.change-cursor:hover .dotted{
    cursor: pointer;
    position: relative;
}
.change-cursor .dotted a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.change-cursor .dotted a{
    text-decoration: none;
    border: none;
    text-indent: -9999px;
    opacity: 0;
}





/* -------- LEFT SIDEBAR BACKWARD ------- --*/
#back{
    transition: 1s linear;
    display:none;
   /*display: flex;*/
    position: relative;
    width: 0;
    justify-content: center;
    align-items: center;
    background-color: #ec2027;
    color: white;
    cursor:pointer;
}
#back.mobile{
    width:100%;
    height: 60px;
    margin-bottom:2.5px;
}
#back.mobile svg{
    margin: auto 10px 2px 0;
    stroke-width: 3px;
}
#back.desktop{
    width:50px;
}
#back .overlay.black{
    background: linear-gradient(to bottom,rgba(0,0,0,0) 34%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.5) 100%);
    display: none;
}
#back.mobile .overlay.black{
    background: linear-gradient(to left,rgba(0,0,0,0.1) 30%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%);
}
#back:hover .overlay.black{
    display: block;
}
#back > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#back svg{
    stroke:white;
    width:20px;
    height:20px;
    margin:0 auto 5px auto;
}
#back p{
    font-size: 0.7em;
}
 #back.stretch-x{
    display: flex;
}





/* ----------------- FOOTER ------------- */
footer{
    font-weight: 300;
    background-color: #242424;
    height: 30px;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
}
footer p{
    font-size: 0.75em;
    letter-spacing: 0.75px;
    font-weight: 300;
}




/* -------------- OVERLAY CLASSES ---------------*/
.overlay{
    position: absolute;
    transition:1s linear;
    height: 100%;
    width: 100%;
    z-index: 2;

}

.overlay.black{
    background: linear-gradient(-177deg, rgba(0,0,0,0) 30%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.6) 100%);
    top: 0;
}




.purple{
    color:#7a2162;
    border:#7a2162;
}
.blue{
    color:#02508b;
     border:#02508b;
}
.shrink-x{
    width:0;
}
.shrink-y{
    transition: 1s linear;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 25%;
    min-height: 25vh;
    width: 70%;
}
/*#gamme-progressifs .content.shrink-y,
#gamme-unifocaux .content.shrink-y{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
}*/
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    img.bg.portrait,
    .third .overlay.black,
    .main.half .overlay.black,
    img.bg.landscape {
        left: 0;
        top: 0;
    }
    .stretch-x#back{
        overflow: hidden;
    }
    #back svg{
        width: 46px;

    }
    :not(.gamme)#pentax-nav h1,
    :not(.gamme)#pentax-nav img,
    :not(.gamme)#pentax-nav ul {
        left: 3%;
    }
    img.bg.portrait{
        width: 100%;
    }
    #pentax-nav > div{
        max-height: 33.3333%;
    }
    #pentax-nav.gamme-unifocaux > div{
        max-height: 50%;
    }

    /*.back svg {
        transform: translate(-40.29, -7.8)!important;
    }*/
}


@media (min-width : 1600px){
    #pentax-nav.gamme h1, #pentax-nav.gamme a.btn,
    div.btn {
        margin: 0.5%;
    }
}

@media (min-width : 1200px){
    #pentax-nav.gamme h1, #pentax-nav.gamme a.btn,
    div.btn {
        margin: 1.5%;
    }
}


/* --------------- MEDIA QUERIES --------------------*/
@media (max-width : 978px){
    h1, h2, h3, h4, h5, h6, p,#back p, ul, li {
        font-size: 120%;
    } a.btn, div.btn{
        font-size: 70%;
        }
    body>.container{
        height: auto;
        min-height: calc(100vh - 110px);
    }
    #pentax{
        flex-direction: column;
        justify-content: baseline;
    }
    .third, .half{
        width:100%;
        margin: 2.5px 0;
    }
    article{
        height: calc(100vh - 39px);
    }
    #pentax-nav{
        flex-direction:initial;
        flex-wrap: wrap;
    }

    #pentax-nav > div{
        height: auto;
        min-height: 200px;
        width: inherit;
    }
    #pentax-nav > div{
        margin: 0 5px 0 0;
        flex-shrink: 0;
        flex-grow: 1;
    }
    #pentax-nav:not(.gamme) > div{
        flex-basis: 30%;
    }
    #pentax-nav.gamme-progressifs > div, #pentax-nav.gamme-unifocaux > div{
        flex-basis: 45%;
    }#pentax-nav.gamme-progressifs > div:nth-of-type(odd){
        margin: 0 2.5px 5px 0;
    }#pentax-nav.gamme-progressifs > div:nth-of-type(even){
        margin: 0 0 5px 2.5px;
    }


    /* reverse */
    .shrink-x{
        height: 0;
        border:0;
        margin: 0;
    }.shrink-y{
        height: 50%;
        width: 80%;
    }
    /* end reverse */

    .dotted h1, .gamme .dotted a.btn {
        position: relative;
        top:initial;
    }
    .bottom-content{
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 30px);
        align-items: baseline;
        justify-content: flex-end;
    }
    .bottom-content h1{
        margin: 15px 0;
    }
    .glass {
        width: 30px;
    }
    .overlay.black {
        background: linear-gradient(-135deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0.2) 75%,rgba(0,0,0,0.2) 100%);
    }
}


@media (max-width : 772px){
    #pentax-nav:not(.gamme) > div{
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }#pentax-nav.gamme-progressifs > div{
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }#pentax-nav.gamme-unifocaux > div{
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}